<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learing path</title>
    <meta name="description" content="this is a web page to put in it your learing path in any field">
    <!-- font awesome cdn  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
     <!-- main css  -->
    <link rel="stylesheet" href="CSS/main.css">
</head>
<body>
    <h1>learning path</h1>
    <div class="new-project-form">
        <form action="/" method="post">
            <label for="project">Your next step</label>
            <input type="text" id="project" name="project" autocomplete="off">
            <label for="projectDate">Expected date to end it</label>
            <input type="date" name="projectDate" id="date">
            <button class="btn add" type="submit" name="button" value="addProject">add</button>
            <button class="btn cancel" name="button" value="cancel" type="submit">cancel</button>
        </form>
    </div>
    <div class="edit-project-form ">
        <form action="/" method="post">
            <%if (projects.length) { %>
               <% if (toEditProject<projects.length){%>
                <h2>Edit ( <%=projects[toEditProject].name%> ) project</h2>
                <p>Any field whose content you do not want to change leave it as is.</p>
                <label for="project">Project name</label>
                <input type="text" id="project" name="project" placeholder="<%=projects[toEditProject].name%>" autocomplete="off">
                <label for="projectDate">Expected date to end it</label>
                <input type="date" name="projectDate" id="date">
                <p>Current project date : <%=projects[toEditProject].date%></p>
                <%}%>
            <%}%>
            <button class="btn save" type="submit" name="button" value="saveProject">save</button>
            <button class="btn cancel" name="button" value="cancel" type="submit">cancel</button>
        </form>
        
    </div>
    <div class="new-project-content-form ">
        <form action="/" method="post">
            <div class="content-type">
                <p>sellect content type</p>
                <div class="type">
                    <input type="radio" name="type" value="smallPrject" id="small-project">
                    <label for="small-porject"><i class="fas fa-project-diagram"></i> small project</label>
                </div>
                <div class="type">
                    <input type="radio" name="type" value="book" id="book">
                    <label for="book"><i class="fas fa-book"></i>   book</label>
                </div>
                <div class="type">
                    <input type="radio" name="type" value="course" id="course">
                    <label for="course"><i class="fas fa-chalkboard-teacher"></i> course</label>
                </div>
                <div class="type">
                    <input type="radio" name="type" value="video" id="video">
                    <label for="video"><i class="fab fa-youtube"></i>   video</label>
                </div>
            </div>
            <label for="content-name">content name</label>
            <input type="text" name="contentName" id="content-name" autocomplete="off">
            <label for="content-link">content link</label>
            <input type="text" name="contentLink" id="content-link" autocomplete="off">
            <label for="content-date">content date</label>
            <input type="date" name="contentDate" id="content-date">
            <button class="btn add" type="submit" name="button" value="addProjectContent">add</button>
            <button class="btn cancel" name="button" value="cancel" type="submit">cancel</button>
        </form>
    </div>
    <div class="close-project-form ">
        <%if (toDeleteProject<projects.length) {%>
            <h2>Do you want to delete "<%=projects[toDeleteProject].name%>"project ?</h2>
        <%}%>
        <button class="btn delete" name="button" value="deleteProject" type="submit">delete</button>
        <button class="btn cancel" name="button" value="cancel" type="submit">cancel</button>
    </div>
    <div class="close-content-form">
        <%if (toDeleteProject<projects.length) {%>
            <%if (toDeleteProjectContent<projects[projectId].content.length) {%>
                <h2>Do you want to delete ( <%=projects[projectId].content[toDeleteProjectContent].contentName%> ) content ?</h2>
            <%}%>
        <%}%>
        <form action="/" method="post">
            <button class="btn delete" name="button" value="deleteContent" type="submit">delete</button>
            <button class="btn cancel" name="button" value="cancel" type="submit">cancel</button>
        </form>
    </div>
    <div class="edit-project-content-form ">
        <form action="/" method="post">
            <div class="content-type">
                <%if (projects[projectId]) {%>
                    <% if (toEditProjectContent < projects[projectId].content.length) { %>
                        <h2> edit (<%=projects[projectId].content[toEditProjectContent].contentName%>)</h2>
                        <p>Any field whose content you do not want to change leave it as is.</p>
                <p>sellect content type ( Current content type :<%=projects[projectId].content[toEditProjectContent].contentType%>) </p>
                    <%}%>
                <%}%>
                <div class="type">
                    <input type="radio" name="type" value="smallPrject" id="small-project">
                    <label for="small-porject"><i class="fas fa-project-diagram"></i> small project</label>
                </div>
                <div class="type">
                    <input type="radio" name="type" value="book" id="book">
                    <label for="book"><i class="fas fa-book"></i>   book</label>
                </div>
                <div class="type">
                    <input type="radio" name="type" value="course" id="course">
                    <label for="course"><i class="fas fa-chalkboard-teacher"></i> course</label>
                </div>
                <div class="type">
                    <input type="radio" name="type" value="video" id="video">
                    <label for="video"><i class="fab fa-youtube"></i>   video</label>
                </div>
            </div>
            <%if (projects[projectId]) {%>
                <% if (toEditProjectContent < projects[projectId].content.length) { %>
            <label for="content-name">content name</label>
            <input type="text" name="contentName" id="content-name" autocomplete="off"
            placeholder="<%=projects[projectId].content[toEditProjectContent].contentName%>" >
            <label for="content-link">content link</label>
            <input type="text" name="contentLink" id="content-link" autocomplete="off"
            placeholder="<%=projects[projectId].content[toEditProjectContent].contentLink%>" >
            <label for="content-date">content date</label>
            <input type="date" name="contentDate" id="content-date">
            <p>Current content date : (<%=projects[projectId].content[toEditProjectContent].contentDate%>)</p>
            <button class="btn add" type="submit" name="button" value="editProjectContent">save</button>
            <button class="btn cancel" name="button" value="cancel" type="submit">cancel</button>
                <%}%>
            <%}%>
        </form>
    </div>
    <div class="row">
        <div class="project col-lg-3">
            <h3 class="start-date">20/06/2021</h3>
            <% for (let i=0 ;i<projects.length ;i++) { %>
                <div class="project-content" data-id="<%=i%>">
                    <div class="close">
                        <i class="far fa-times-circle" data-id="<%=i%>"></i>
                    </div>
                    <div class="edit">
                        <i class="fas fa-edit" data-id="<%=i%>"></i>
                    </div>
                    <h2 data-id="<%=i%>"><%=projects[i].name%></h2>
                    <div class="next" >
                        <i class="fas fa-long-arrow-alt-down"></i>
                    </div>
                    <h3 class="end-date"><%=projects[i].date%></h3>
                </div>
            <%}%>
            <button class="btn" type="submit" name="add-new">add new project</button>
        </div>
        <div class="steps col-lg-9">
            <% if (projects.length===0){ %>
                <h2>Wilcome.</h2>
                <p>press add-new button to add project in your page.</p>
                <button class="btn add-content hidden" >add content to your project.</button>
            <%}else {%>
                <!-- content  -->
                <% if (projects[projectId].content.length>0){ %>
                     <% let typeArray=["smallPrject","book","course","video"];%>
                     <% let iconArray=["fas fa-project-diagram","fas fa-book","fas fa-chalkboard-teacher","fab fa-youtube"] %>
                     <% for(let j=0;j<typeArray.length;j++){ %>
                        <div class="type">
                            <% for(let i=0;i<projects[projectId].content.length;i++){ %>
                                <% if (projects[projectId].content[i].contentType===typeArray[j]){ %>
                                    <div class="type-content">
                                        <div class="icon">
                                            <i class="<%= iconArray[j] %>"></i>
                                            <div class="close">
                                                <i class="far fa-times-circle" data-id="<%=i%>"></i>
                                            </div>
                                            <div class="edit">
                                                <i class="fas fa-edit" data-id="<%=i%>"></i>
                                            </div>
                                        </div>
                                        <div class="text">
                                            <a href="<%= projects[projectId].content[0].contentLink %>">
                                                <%= projects[projectId].content[i].contentName %></a>
                                                <p><%= projects[projectId].content[i].contentDate %></p>
                                                <div class="status" data-id="<%=i%>">
                                                    <%if (projects[projectId].content[i].contentStatus === "done"){%>
                                                        <p> done ✔️</p>
                                                    <%}else if (projects[projectId].content[i].contentStatus === "inProgress"){%>
                                                        <p> in progress 🛠️</p>
                                                    <%}else if (projects[projectId].content[i].contentStatus === "notStarted"){%>
                                                        <p> not started ⏰</p>
                                                    <%}%>
                                                </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>  
                        </div> 
                    <% } %>
                <% } %>
                <button class="btn add-content" >add content to your project.</button>
            <%}%>
        </div>
    </div>
    <%-body%>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
    <!-- main js  -->
    <script src="JS/index.js"></script>
</body>
</html>